{% extends 'base.html.twig' %}
{% block body %}
    {{ include('Includes/adminNavbar.html.twig') }}


    {% if posts is not empty %}



            <table>

                {% for post in posts %}



                    <tr>
                        <td><h3>{{ post.title }}</h3></td>
                        <td>
                            <a href="{{ path('admin_article_edit', {'id' : post.id}) }}" class="btn btn-primary">Edit Article</a>
                            <a href="{{ path('admin_article_delete', {'id' : post.id}) }}" class="btn btn-danger">Delete Article</a>
                        </td>
                    </tr>

                {% endfor %}

            </table>



    {% endif %}



{% endblock %}